<!-- FlexSlider pieces -->
<!--   <link rel="stylesheet" href="stylesheets/default-five-slides.css" type="text/css" /> -->
 <link rel="stylesheet" href="//webcodebuilder.com/examples/flexslider-kwiks/default-five-slides.css" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <script src="//cdn.jsdelivr.net/flexslider/2.2.2/jquery.flexslider.js"></script>

  <script src="//cdn.jsdelivr.net/css3-mediaqueries/0.1/css3-mediaqueries.js"></script>

    <!-- Kwiks pieces -->
  <script src="//cdn.jsdelivr.net/kwicks/1.5.1/jquery.kwicks-1.5.1.js"></script>


  <!-- <div class="col-md-8 col-md-offset-2"> -->
    <!-- <div class="col-sm-8 col-md-11 col-md-offset-1 main"> -->
      <div class="col-sm-9 col-md-8 col-md-offset-2 overlay">

  <%=link_to "Add a Location", new_collection_path %>
    <h1 class="my-places">My Places</h1>

    <div id="container">
      <!-- <h2>Wardrobes</h2> -->
      <div class="flexslider ">
        <ul class="slides">

          <% fsk=0%>
          <% for @collection in @collections%>
          <% fsk +=1%>
          <% if fsk <= 5 %>
          <li> 
            <%=link_to(image_tag("locations/hongkong1.jpg"), collection_path(@collection), method: :get) %> 
            <div class="flex-caption">
              <h3><%= link_to collection_path(@collection) do%><%=@collection.location %> <% end -%></h3>
              <!--  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis porttitor massa eget pretium. Mauris vel erat sem, id tempor est. Pellentesque lobortis iaculis massa quis auctor.</p> -->
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <span id="responsiveFlag"></span>
</div>
</div>




  <!-- Hook up the FlexSlider -->
  <script type="text/javascript">
    var Main = Main || {};

    jQuery(window).load(function() {
      window.responsiveFlag = jQuery('#responsiveFlag').css('display');
      Main.gallery = new Gallery();
      
      jQuery(window).resize(function() {
        Main.gallery.update();
      });
    });

    function Gallery(){
      var self = this,
        container = jQuery('.flexslider'),
        clone = container.clone( false );
        
      this.init = function (){
        if( responsiveFlag == 'block' ){
          var slides = container.find('.slides');
          
          slides.kwicks({
            max : 500,
            spacing : 0
          }).find('li > a').click(function (){
            return false;
          });
        } else {
          container.flexslider();
        }
      }
      this.update = function () {
        var currentState = jQuery('#responsiveFlag').css('display');
        
        if(responsiveFlag != currentState) {
        
          responsiveFlag = currentState;
          container.replaceWith(clone);
          container = clone;
          clone = container.clone( false );
          
          this.init();  
        }
      }
      
      this.init();
    }
  </script>