
          <br><br><br><br><br><br><br><br>

          <% g=0%>
          <% for @collection in @collections%>
          <div><h5><%=g +=1%><br>
          <%= @collection.location %><br>
          <%= @collection.id %>



          <br><br>
        </h5></div>
        <% end %>