

<%= render 'form' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= button_to "Delete My Account", user_path(@user), method: :delete, confirm: "Really delete your account?", class: "btn btn-danger", id: "delete_user-button" %>
      </div>
  </div>
</div>