<%= form_for @item do |f| %>

Form Partial
  <div class="field">

  </div>
  <p><div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture, name: "picture_attach"%>
  </div>
</p>
</p>
  <p><div class="actions">
    <%= f.submit %>
  </div>
  </p>
<% end %>