<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="overlay">
      <div class="row">
        <div class="col-md-4">
          <p><%= image_tag @item.picture.carousel%></p>
        </div>
        <div class="col-md-8">
          <%= render 'form' %>    
        </div>
      </div>
    </div>
  </div>
</div>


