<div class="row">
  <div class="col-md-8">
<!-- Begin Splash-->
<!-- <div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Your Site</a>

        <ul>
            <li class="pure-menu-selected"><a href="#">Home</a></li>
            <li><a href="#">Tour</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </div>
</div> -->

<div class="splash-container">
    <div class="splash">
        <div class="col-md-8 col-md-offset-1 splash-text">

            <h1 class="splash-head"><p>C L O S I F Y</p></h1>

            <h2 class="subsplash-head"><p>Your clothes online. . .</p></h2>
<div class="col-md-8 col-md-offset-2">
    <p> 
        <% if current_user %>
        <%else%>
        <%= button_to "Get Started", new_user_path, method: :get, class: "btn btn-success get-started", id: "new_user-button"%>
        <% end %>
    </p>
</div>
        </div>
    </div>
</div>


    <div class="col-md-offset-2">
        <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Bringing your clothes closer to you.</h2>

            <p>
             Closify brings to you the best solution for tracking your global closet! Use Closify to organize your wardrobe by location or to plan your outfits away from home!
            </p>
        </div>
    </div>

<div class="content-wrapper">
    <div class="content">

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive 
                </h3>
                <p>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
                <p>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Nice
                </h3>
                <p>
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Start Now
                </h3>
                <p>
                </p>
            </div>
        </div>
    </div>



</div>


<!-- End Splash -->
  </div>
  <div class="col-md-4 login-overlay">
    <%= render partial: "layouts/login" unless current_user %>

  </div>
</div>