/*
 *= require slick
 *= require_self
 *= default-five-slides

 */
.slider h3 {
  text-align: center;

}

.slider.filtering1 img {
  margin: 0;
  vertical-align: bottom;
}

.main {
  margin-top: 60px;
}