/*
 *= require slick
 *= require_self
 *= default-five-slides
 *= marketing

 */


 body {
  height: 100%;
/*  background:url("../images/orange-wallpaper-fruits.jpg");*/
  background:url("../images/closet-a.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center right; 
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: ;
} 

.newuser-note {
font-family: "Times New Roman", Georgia, Serif; 
font-style: italic;
}

.flex-direction-nav a {
  z-index: 2;
}

.my-places {
  text-align: center;
  font-size: 100%;
}

.btn {
  font-size: 16px;
}

.collection-items{
  margin: 0px 0px 0px 100px;
}

.get-started {
  width: 260px;
  height: 50px;
  font-size: 120%;
}

.splash-text {
  text-align: center;
}

.splash-head {
  color: white;;
  text-align: ;
  border-style: transparent; 
  border-color:#FF0000;
  background: #1F8DD6;
  border-radius: 90px;
}

.login-overlay {
  margin-top: 60px;
}

.overlay {
  background-color: hsla(0,0%,0%,0.2);
  color: white;
  font-size: 140%;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
}

.overlay a {
  color: hsla(208, 100%, 90%, 1);
}

.overlay a:hover {
  color: hsla(208, 100%, 75%, 1);
}

.overlay button a { color: white; }
.overlay button a:hover { color: grey; }


.overlay legend {
  text-align: center;
  color: white;
}

.tag-header {
  font-size: 100%;
  text-align: center;
}

.tags-box {
 background-color: hsla(0,0%,0%,0.3);
 color: white;
 font-size: 90%;
 padding: 10px; 
}

.dropdown-toggle {

}

.nav-pills {
  top: 0px;
}

.input-group {
  margin-top: 8px;
}

.main {
  margin-top: 60px;
}

.slick-prev, .slick-next {
  top: 43%;
}

.slick-prev:before, .slick-next:before {
  opacity: 0.43;
}

.slick-next {
  right: -55px;
}

.slick-prev {
  left: -55px;
}

.slick-slider { 
  margin-bottom: 0px; 
}

.slider h3 {
  text-align: center;

}

.filtering {
  z-index: 5;
}

.slider.filtering1 img {
  margin: 0;
  /*vertical-align: bottom;*/
}


