/*
 *= require slick
 *= require_self
 *= default-five-slides

 */


 body {
  height: 100%;
  background:url("../images/orange-wallpaper-fruits.jpg");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position: center right; 
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: ;
}

.dropdown {
  margin-top: 4px;
}

.input-group {
  margin-top: 8px;
}


.main {
  margin-top: 50px;
}

.slick-prev:before, .slick-next:before {
  opacity: 0.43;
}

.slick-next {
  right: -55px;
}

.slick-prev {
  left: -55px;
}

.slick-slider { 
  margin-bottom: 0px; 
}

.slider h3 {
  text-align: center;

}

.slider.filtering1 img {
  margin: 0;
  /*vertical-align: bottom;*/
}


